<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" id="index-submit">
                <label class="sr-only" for="inlineFormInputName2"></label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="index-input" placeholder="Search a game">
            </form>
        </div>
    </div>
</div>